# Zadatak 2: Analiza podataka

In [1]:
from db.db import MysqlDAO
db = MysqlDAO('vozila')

## a) izlistati koliki je broj automobila za svaku od dostupnih marki

In [2]:
marka_count = db.marka_count()
marka_count

[{'marka': 'Volkswagen', 'cnt': 104},
 {'marka': 'Audi', 'cnt': 75},
 {'marka': 'Peugeot', 'cnt': 60},
 {'marka': 'Opel', 'cnt': 52},
 {'marka': 'Renault', 'cnt': 52},
 {'marka': 'BMW', 'cnt': 43},
 {'marka': 'Citroen', 'cnt': 40},
 {'marka': 'Fiat', 'cnt': 35},
 {'marka': 'Škoda', 'cnt': 24},
 {'marka': 'Ford', 'cnt': 20},
 {'marka': 'Nissan', 'cnt': 16},
 {'marka': 'Mercedes Benz', 'cnt': 16},
 {'marka': 'Toyota', 'cnt': 13},
 {'marka': 'Alfa Romeo', 'cnt': 8},
 {'marka': 'Volvo', 'cnt': 8},
 {'marka': 'Seat', 'cnt': 7},
 {'marka': 'Mazda', 'cnt': 6},
 {'marka': 'Hyundai', 'cnt': 6},
 {'marka': 'Lancia', 'cnt': 4},
 {'marka': 'Suzuki', 'cnt': 3},
 {'marka': 'Dacia', 'cnt': 3},
 {'marka': 'Kia', 'cnt': 3},
 {'marka': 'Land Rover', 'cnt': 3},
 {'marka': 'MINI', 'cnt': 3},
 {'marka': 'Porsche', 'cnt': 2},
 {'marka': 'Smart', 'cnt': 2},
 {'marka': 'Honda', 'cnt': 2},
 {'marka': 'Chevrolet', 'cnt': 2},
 {'marka': 'Lada', 'cnt': 1},
 {'marka': 'Mitsubishi', 'cnt': 1},
 {'marka': 'Daihatsu', 'cnt': 1},
 {'marka': 'Subaru', 'cnt': 1},
 {'marka': 'Jeep', 'cnt': 1}]

## b) izlistati koliko automobila se prodaje u svakom od gradova/lokacija (izlistati sve gradove i pored svakog napisati broj automobila u ponudi)

In [3]:
gradovi_count = db.gradovi_count()
gradovi_count

[{'lokacija_prodavca': 'Novi Sad', 'cnt': 88},
 {'lokacija_prodavca': 'Beograd', 'cnt': 73},
 {'lokacija_prodavca': 'Čačak', 'cnt': 50},
 {'lokacija_prodavca': 'Zemun', 'cnt': 50},
 {'lokacija_prodavca': 'Pančevo', 'cnt': 30},
 {'lokacija_prodavca': 'Beška', 'cnt': 25},
 {'lokacija_prodavca': 'Kikinda', 'cnt': 25},
 {'lokacija_prodavca': 'Kraljevo', 'cnt': 25},
 {'lokacija_prodavca': 'Niš', 'cnt': 25},
 {'lokacija_prodavca': 'Loznica', 'cnt': 25},
 {'lokacija_prodavca': 'Valjevo', 'cnt': 25},
 {'lokacija_prodavca': 'Kragujevac', 'cnt': 25},
 {'lokacija_prodavca': 'Leskovac', 'cnt': 25},
 {'lokacija_prodavca': 'Paraćin', 'cnt': 25},
 {'lokacija_prodavca': 'Čukarica', 'cnt': 25},
 {'lokacija_prodavca': 'Subotica', 'cnt': 25},
 {'lokacija_prodavca': 'Veternik', 'cnt': 22},
 {'lokacija_prodavca': 'Smederevo', 'cnt': 19},
 {'lokacija_prodavca': 'Bačka Topola', 'cnt': 10}]

## c) izlistati po bojama (karoserije) koliko je kojih automobila

In [4]:
boja_count = db.boja_count()
boja_count

[{'boja': 'Siva', 'cnt': 233},
 {'boja': 'Crna', 'cnt': 168},
 {'boja': 'Bela', 'cnt': 78},
 {'boja': 'Plava', 'cnt': 47},
 {'boja': 'Crvena', 'cnt': 22},
 {'boja': 'Srebrna', 'cnt': 14},
 {'boja': 'Braon', 'cnt': 13},
 {'boja': 'Teget', 'cnt': 10},
 {'boja': 'Zlatna', 'cnt': 6},
 {'boja': 'Narandžasta', 'cnt': 4},
 {'boja': 'Bordo', 'cnt': 4},
 {'boja': 'Zelena', 'cnt': 4},
 {'boja': 'Bež', 'cnt': 4},
 {'boja': 'Tirkiz', 'cnt': 3},
 {'boja': 'Smeđa', 'cnt': 2},
 {'boja': 'Kameleon', 'cnt': 2},
 {'boja': 'Ljubičasta', 'cnt': 1},
 {'boja': 'Krem', 'cnt': 1},
 {'boja': 'Žuta', 'cnt': 1}]

## d) prikazati rang listu prvih 30 najskupljih automobila koji se prodaju, i 30 najskupljih iz potkategorije džipovi/SUV (ako ovog podatka nema u oglasu, labelirati one modele automobila koji pripadaju ovoj kategoriji);

In [ ]:
najskuplje = db.najskuplje()
for n in najskuplje['najskuplji_stanovi']:
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

In [ ]:
for n in najskuplje['najskuplje_kuce']:
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

## e) prikazati rang listu prvih 100 najvećih kuća i 100 najvećih stanova po površini (kvadraturi)

In [ ]:
najskuplje = db.najvece()
for n in najskuplje['najveci_stanovi']:
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

In [ ]:
najskuplje = db.najvece()
for n in najskuplje['najvece_kuce']:
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

## f) prikazati rang listu svih nekretnina izgrađenih u 2020. godini, i izlistati ih opadajuće prema ceni prodaje, odnosno ceni iznajmljivanja

In [ ]:
cene_2020 = db.cene_2020()
for n in cene_2020['prodaja']:
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

In [ ]:
for n in cene_2020['izdavanje']:
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

## g) prikazati nekretnine (Top30) koje imaju:
##    ▪ najveći broj soba unutar nekretnine,
##    ▪ najveću kvadraturu (samo za stanove),
##    ▪ najveću površinu zemljišta (samo za kuće)

In [ ]:
for n in db.top_broj_soba():
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

### KOMENTAR: Prva mesta u izlistavanju nize zauzimaju objekti sa greskom u podacima - najpre jer su kvadrature pogresno unete ili jer su kuce pogresno kategorisane kao stanovi.

In [ ]:
for n in db.top_kvadratura_stanovi():
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

### KOMENTAR: Neka od prvih mesta u izlistavanju nize potencijalno zauzimaju objekti sa netacno unetim podatkom o povrsini zemljista.

In [ ]:
for n in db.top_povrsina_zemljista():
    print(" | ".join(["{0}: {1}".format(k, v) for k, v in n.items()]))

In [ ]:
db.close()